<h1><%= @bookmark.title %>の編集ページ</h1>

<%= form_for(@bookmark) do |f| %>

  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url %>
  </div>
  
  <div>
    <%= f.submit '保存' %>
  </div>
<% end %>