<h1>ログイン</h1>

<%= form_for(:session) do |f| %>

  <div>
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.submit 'ログイン' %>
  </div>
<% end %>

<%= link_to 'ユーザー登録へ', signup_path %>