<h1>BookMark application.</h1>
<p>ブックマークを管理するアプリ。</p>
<% if logged_in? %>
  <div>ログイン中のユーザー：<%= @user.name %></div>
  <div><%= link_to 'マイページへ', @user %></div>
  </div><%= link_to 'ログアウト', logout_path, method: :delete %></div>
  
<% else %>
  <p><%= link_to 'ユーザー登録', signup_path %> or <%= link_to 'ログイン', login_path %>.</p>

<% end %>