<h1>ユーザー情報の編集</h1>

<%= form_for(@user) do |f| %>
  <div>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.submit '保存' %>
  </div>
  
  <div>
    <%= link_to 'アカウントの削除', @user ,method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </div>
  <footer><%= link_to 'マイページへ', user_path %></footer>
<% end %>